auth_token: LzVOjRnSwemafqSazvAy
tunnels:
  client:
    subdomain: infinicloud-sg
    proto:
      http: 80
  ipython:
    subdomain: ipython.infinicloud-sg
    proto:
      http: 8888
      https: 8888
